
Baseball/.vs/Baseball/v16/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.exe
*.recipe
*.ilk
*.log
*.obj
*.pdb
*.lastbuildstate
*.tlog
Baseball/Debug/Baseball.vcxproj.FileListAbsolute.txt
*.idb
